@use "sass:color";

@import "../variables";
@import "../functions";

$color-background-pink: #eae6fe;

.swiper {
  width: 100%;
  height: auto;

  .swiper-slide {
    height: auto;
    width: 100%;
    overflow: visible;
    display: -webkit-box;
    display: flexbox;
    display: flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: stretch;
  }

  @media only screen and (max-width: $bp-sm) {
    margin-right: rem(-24px);
    padding-right: rem(24px);
  }
}

.swiper-custom-controls {
  display: flex;
  align-items: center;
  gap: rem(16px);

  .swiper-custom-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: rem(8px);
    border-radius: rem(16px);
    border: none;
    color: $color-primary;
    background-color: $color-background-pink;
    transition: $transiton-default;

    &:hover:not(.swiper-button-disabled),
    &:active:not(.swiper-button-disabled) {
      color: color.adjust($color-primary, $lightness: -5%);
      background-color: color.adjust($color-background-pink, $lightness: -5%);
    }

    &.swiper-button-disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}
