@import "../variables";
@import "../functions";
@import "../mixins";

.portfolio {
  background-color: $color-white;

  &__container {
    padding-top: rem(125px);

    @media only screen and (max-width: $bp-exta-lg) {
      padding-top: rem(104px);
      padding-bottom: rem(176px);
    }
  }

  &__header {
    display: flex;
    align-items: flex-end;
    line-height: rem(45px);
    justify-content: space-between;
    margin-bottom: rem(80px);

    @media only screen and (max-width: $bp-exta-lg) {
      margin-bottom: rem(72px);
    }

    @media only screen and (max-width: $bp-md) {
      margin-bottom: rem(64px);
    }

    @media only screen and (max-width: $bp-sm) {
      flex-direction: column;
      align-items: center;
      gap: rem(24px);
      margin-bottom: rem(56px);
    }

    @media only screen and (max-width: $bp-extra-sm) {
      margin-bottom: rem(24px);
    }
  }

  &__card {
    width: 100%;
    height: auto;
    border-radius: rem(8px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-decoration: none;
    color: $color-black;
    transition: $transiton-default;

    &-image {
      padding-bottom: 79.65%;
      position: relative;
      overflow: hidden;
      background-position: top;
      background-size: cover;
      transition: $transiton-default;

      &--1 {
        background-image: linear-gradient(
            0deg,
            rgba($color-black, 0.1),
            rgba($color-black, 0.1)
          ),
          url("../images/portfolio-item-1.jpg");
      }

      &--2 {
        background-image: linear-gradient(
            0deg,
            rgba($color-black, 0.1),
            rgba($color-black, 0.1)
          ),
          url("../images/portfolio-item-2.jpg");
      }

      &--3 {
        background-image: linear-gradient(
            0deg,
            rgba($color-black, 0.1),
            rgba($color-black, 0.1)
          ),
          url("../images/portfolio-item-3.jpg");
      }

      &:hover {
        transform: scale(1.05);
      }
    }

    &-content {
      flex-grow: 1;
      border: 1px solid $color-background-purple;
      border-top: none;
      background-color: $color-white;
      padding: rem(24px);
      border-bottom-left-radius: rem(8px);
      border-bottom-right-radius: rem(8px);
    }

    &-title {
      @include line-clip(1);

      font-family: $font-plus-jakarta;
      font-size: rem(16px);
      font-weight: 500;
      line-height: rem(20px);
      letter-spacing: 0;
      margin-bottom: rem(16px);
    }

    &-info {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 16px;

      svg {
        color: $color-text-grey;
      }
    }

    &-technology {
      display: inline-block;
      padding: rem(4px) rem(8px);
      border-radius: rem(4px);
      font-size: rem(12px);
      font-weight: 500;
      line-height: rem(15px);
      letter-spacing: rem(0);
      color: $color-text-grey;
      border: 1px solid $color-background-purple;
    }

    &-link {
      &:link,
      &:visited {
        position: relative;
        display: inline-block;
        color: $color-text-grey;
        transition: $transiton-default;
      }

      &:hover,
      &:active,
      &:focus {
        color: $color-primary;

        .tooltiptext {
          visibility: visible;
          opacity: 1;
        }
      }

      svg {
        color: inherit;
      }
    }
  }
}
