$font-inter: "Inter", sans-serif;
$font-plus-jakarta: "Plus Jakarta Sans", sans-serif;
$color-primary: #7e74f1;
$color-black: #232e35;
$color-white: #fff;
$color-text-grey: #656d72;
$color-background-grey: #fbfbfb;
$color-background-purple: #f5f3fe;
$transiton-default: all 0.2s ease-in;
$header-height-desktop: rem(112px);
$header-height-mobile: rem(64px);
$bp-lg: 1200px;
$bp-md: 990px;
$bp-sm: 750px;
$bp-extra-sm: 450px;
