$font-inter: "Inter", sans-serif;
$font-plus-jakarta: "Plus Jakarta Sans", sans-serif;
$color-primary: #7e74f1;
$color-black: #232e35;
$color-white: #fff;
$color-text-grey: #656d72;
$color-background-grey: #fbfbfb;
$color-background-purple: #f5f3fe;
